
html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia;
  font-size: 1vw;
  background: white;
}

.hero {
  position: relative;
  height: 20vw;
  background-color: #fff;
  text-align: center;
  padding: 2em;
  font-size: 5vw;
}

.intro {
  text-align: center;
  position: relative;
  color: #343144;
  background: #fff;
  height: 30vw;
  padding: 3em 20em 5em;
}

.artwork {
  text-align: justify; 
  margin: 2em;
}