@charset "utf-8";
/* CSS Document */

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif
}

header {
	background-color: bisque;
	height: 72px;
}

section{
	background-color: aqua;
    height: 500px;
}

article {
	height: 500px;
}

div {
	background-color: brown;
	width: 700px;
}

footer {
	background-color:gold;
	height: 72px;
}